.greeting-section{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
   
}


.greeting{
    width: 95%;
    height: 14vh;
    background: linear-gradient(90deg, #FF7A00 0%, #ffbe81 100%);
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.06);

    margin: 2em auto;
    border-radius: 7px;
}

.greetingH1{
     font-size: 22px;
    color: #F44336;
    padding-left: 2em;
    padding-top: 1em;
    font-family: "Rubik Moonrocks", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.categories{
    width: 100%;
  
}

.category-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    right: 1em;
    


}

.category-list li{
    text-decoration: none;
    list-style: none;
    width: 100px;
    height: 2.5em;
    margin: 3px;
    border: 0.5px solid #a5a5a5;
    letter-spacing: 1px;
    text-align: center;
   border-radius: 5px;
    color: white;
    font-size: 12px;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.06);

    background: linear-gradient(
  to right,
  #FF7A00,
  #FF7A00
);
    padding: 7px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baner-img{
    width: 100%;
  height: 130px;
    object-fit: contain;
}