.best-selling-container{
    width: 100%;
}

.best-selling-container h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    color: rgb(73, 73, 73);
    letter-spacing: 1px;
}



.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.product {
   width: 95%;
  height: 35vh;
  background-color: orange;
  margin: 0px auto;
  background: linear-gradient(90deg, #ffbe81 0%, #FF7A00 100%);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.06);


}

.product-img {
  width: 50%;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.price {
  font-weight: bold;
  margin-top: 20px;
}

.name{
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: 500;
  margin-top: 7px;
}

.arrow {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
   color: white;
}

.product-arrow-con{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom:2.3em;
  color: white;
}

.product-img-con{
  width: 100%;
  background-color: white;
  height: 28vh;
  border-radius: 5px 5px 0px 0px;
}

.left-arrow{
  position: relative;
  right: 1.5em;
  font-weight: 900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.right-arrow{
  position: relative;
  left: 1.5em;
  font-weight: 900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

